<ion-header>
  <ion-toolbar style="--background: black; color: #396">
    <ion-title>Sobre</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen style="--background: rgb(51, 51, 51)">

  <div class="atracoes animated bounceInDown " >
    <ion-card class="atracoes" >

      <ion-card-title>
        Parque Nacional de Brasília
      </ion-card-title>

      <ion-card-subtitle padding-top="5px">
        <div class="versao">
          <h6>Versão 1.0.0Beta</h6>
        </div>
      </ion-card-subtitle>

      <ion-card-content>
        <div class="participantes">
          <ion-text>
            <p>Esse aplicativo foi criado por iniciativa do Voluntário do Parque Rafael Duarte, e uma Servidora; com intuito de
              melhorar a experiência entre os usuários do Parque e maximizar seus feedbacks para a Administração. E desenvolvido por alunos do IESB através de seu laboratório CPA-BayArea</p>
            <p>O aplicativo também proporcionará aos Servidores e Voluntários uma agíl resposta nas ocorrências diárias
              do Parque. O que torna a resposta mais rápida e eficiente.</p>
            <p>Essas ocorrências giram em torno de 5 categorias: Animais Domésticos, aqueles perdidos; Animais
              Silvestres, aqueles perigosos ou em perigo; Flora, sobre suas espécies; Crimes Ambientais, que possam
              estar acontecendo; Estrutura do Parque, que possa estar quebrada ou com defeitos. Qualquer usuário terá
              permissão para enviar uma ocorrência que achar necessária, porém a mesma passará por uma avaliação dos
              administradores do app.</p>
            <p>Além de ocorrências há varias outras utilidades, como Eventos que possam estar acontecendo, Avisos da
              administração e informativos sobre os atrativos que há no parque.</p>
          </ion-text>
          <h6>Sobre os desenvolvedores</h6>
          <ion-text>
            <p>Gerência do Projeto: Filipe Lopes</p>
            <p>Criação e Programação: Filipe Lopes</p>
            <p>Análise de Requisitos: Natan Farias</p>
            <p>Criação de Ícones, Banners e edição de Imagem: Arthur Falcomer e Victor José</p>
            <p>Auxílio em análise de requisitos: Thiago Faustino</p>
          </ion-text>
        </div>

        <div class="link">
          <a href="wwww.bayareacpa.com.br">wwww.bayareacpa.com.br</a>
        </div>
      </ion-card-content>



      <!--<div class="footer">
        <img src="https://firebasestorage.googleapis.com/v0/b/parquenacional-63888.appspot.com/o/Est%C3%A1ticas%2FlogoBayFooter.png?alt=media&token=4cddba08-c5c9-4420-9f80-f5c7905eb985">
      </div>-->
    </ion-card>
  </div>



</ion-content>
